// Generic Styles

$font-color: #333;
$font-family: 'Open Sans', sans-serif;

$h1_size: 1.6em;
$h1_color: #000;
$h2_size: 1.3em;
$h2_color: #333;
$h3_size: 1.2em;
$h3_color: #333;

// Post Styling

$border-color: #ccc;
$code-background: #eee;
$code-border-color: #ddd;
$code-border-size: 1px;
$code-border-radius: 3px;
$code-color: #555;