RewriteEngine On
Options All

# Remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

#
# Exclude from Public files
#
RewriteCond %{REQUEST_URI} !^/apple-touch-icon.png
RewriteCond %{REQUEST_URI} !^/favicon.ico
RewriteCond %{REQUEST_URI} !^/favicon-144.png
RewriteCond %{REQUEST_URI} !^/humans.txt
RewriteCond %{REQUEST_URI} !^/robots.txt

# Rewrite remainder of requests to
# index.php to be processed by the platform
#
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php/$1 [PT,L,QSA]